.header{
  background-color: Blue;
  color: white;
  text-align: center;
}

.myNav{
  background-color: green;
  color: white;
  text-align: center;
  height: 400px;
}

.content{
  background-color: aqua;
  color: white;
  text-align: center;
  height: 400px;
}
.footer{
  background-color: blueviolet;
  color: white;
  text-align: center;
}

p{
  color: white;
}